<nav class="navbar navbar-expand-lg bg-warning">
    <div class="container-fluid">
        <div class="col-3">
            <a class="navbar-brand" href="#">Mni Project</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="col-6 ">
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mx-auto">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Book Events</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Create Event </a>
                  </li>
                </ul>
               
              </div>
        </div>
        <div class="col-3">
            <ul class="navbar-nav mx-auto ">
               
                <li class="nav-item">
                  <a class="nav-link" routerLink="Login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="Register">Register</a>
                </li>
              </ul>
        </div>
      
     
    </div>
  </nav>
<router-outlet></router-outlet>



<footer class="bg-dark text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3 text-white"  >
      © 2020 Copyright: Mini Project
     
    </div>
    <!-- Copyright -->
  </footer>
